{% load static %}
{% load user_group_tags %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Bulletin Board </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'bulletin/main.css' %}">
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'board-home' %}">Home</a>
            </div>
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                  {% if user|has_group:"administrator" %}
                    <a class="nav-item nav-link"> Administrator </a>
                  {% endif %}
                  {% if user|has_group:"moderator" %}
                    <a class="nav-item nav-link"> Moderator </a>
                  {% endif %}
                  {% if user|has_group:"poster" %}
                    <a class="nav-item nav-link"> Poster </a>
                  {% endif %}
                <a class="nav-item nav-link" href="{% url 'logout' %}"> Logout </a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'register' %}"> Register </a>
                <a class="nav-item nav-link" href="{% url 'login' %}"> Login </a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
          <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    {{ message}}
                {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
      </div>
    </main>
</body>
</html>