{% extends "bulletin/base.html" %}
{% load user_group_tags %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h2 class="article-title">{{ object.name }}</h2>
            <p class="article-content">posted by: {{ object.creator }}</p>

                {% for threads in object.threads_set.all reversed %}
                    <a href="{% url 'thread-details' threads.id %}"><h5>{{ threads.title }}</h5></a>
                    {% if threads.is_locked %}
                        <small> This thread is locked </small>
                        {% if user|has_group:"moderator" or user|has_group:"administrator" %}
                            <a href="{% url 'thread-update' threads.id %}"> (unlock) </a>
                        {% endif %}
                    {% else %}
                        <small> This thread is not locked </small>
                        {% if user|has_group:"moderator" or user|has_group:"administrator" %}
                            <a href="{% url 'thread-update' threads.id %}"> (lock this thread) </a>
                        {% endif %}
                    {% endif %}

                    {% for post in threads.post_set.all %}
                        {% if forloop.last %}
                            <p> {{ post.posted_on }} - {{ post.posted_by }} </p>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            <br>
            {% if user|has_group:"administrator" %}
                <a href="{% url 'thread-create' object.id %}"><button type="submit"> Add Threads </button></a>
                <a href="{% url 'board-delete' object.id %}"><button type="submit"> Delete this Board </button></a>
            {% endif %}
        </div>
    </article>
{% endblock content %}
