{% extends "bulletin/base.html" %}
{% load user_group_tags %}
{% block content %}
    {% for board in board_list %}
        <article class="media content-section">
            <div class="media-body">
                <a href="{% url 'board-details' board.id %}"><h3> {{ board.name }} </h3></a>
                <small class="text-muted"> number of threads: {{ board.threads_set.all|length }} </small><br>
                {% for threads in board.threads_set.all %}
                    {% if forloop.last %}
                        {% for post in threads.post_set.all %}
                            {% if forloop.last %}
                                <small class="text-muted"> most_recent_reply: 
                                    <a href="{% url 'thread-details' threads.id %}">{{ threads.title }} </a>
                                </small> <br>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                <small class="text-muted"> number of post: {{ board.threads_set.last.post_set.all|length }} </small>
            </div>
        </article>
    {% endfor %}

                {% if user|has_group:"administrator" %}
                    <a href="{% url 'board-create' %}"><button type="submit"> Add New Board </button></a>
                {% endif %}
{% endblock content %}

