{% extends "bulletin/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h6 class="article-title"> {{ object.boards }} </h6>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">posted by: {{ object.posted_by }}</p>

                {% for post in object.post_set.all %}
                     <a href="{% url 'user-ban' post.posted_by.profile.id %}">{{ post.posted_by }}</a>  <p> {{ post.posted_on }} - {{ post.message }} </p>
                {% endfor %}
                {% if object.is_locked %}
                    <a href="{% url 'thread-update' object.id %}"> Unlock this Thread </a>
                {% else %}
                    {% if user.profile.banned %}
                        <small> You are banned! </small>
                    {% else %}
                        <a href="{% url 'post-create' object.id %}"> Reply </a>
                    {% endif %}
                {% endif %}

        </div>
    </article>

{% endblock content %}