{% extends "bulletin/base.html" %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"> Login </button>
    </form>

    <a href="{% url 'register' %}"> Sign Up</a>
{% endblock content %}