{% extends "bulletin/base.html" %}
{% load user_group_tags %}
{% block content %}
    <h1> {{ user.username }} </h1>
    <h1> {{ user.email }} </h1>
    <h1> {{ user.profile.banned }} </h1>

    {% if user|has_group:"administrator" %}
        <p>administrator</p>
    {% endif %}

    {% if user|has_group:"moderator" %}
        <p>moderator</p>
    {% endif %}

    {% if user|has_group:"poster" %}
        <p>poster</p>
    {% endif %}

{% endblock content %}