{% extends "bulletin/base.html" %}
{% load user_group_tags %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h4> {{ object.user.username }} </h4>
        <hr>
        <h6> {{ object.user.email }} </h6>
        <hr>
        {% if user|has_group:"moderator" or user|has_group:"administrator" %}
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit"> Submit </button>
                </div>
            </form>
        {% else %}
            <h4> You don't have ability to ban Users. </h4>
        {% endif %}
    </div>
{% endblock content %}

